.container {
    min-width: 150rem;
    height: 13rem;
    position: relative;
    border-bottom: 1px black;
    display: inline-flex;
    z-index: 1;
    justify-content: space-between;
}

.logo {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    box-sizing: border-box;
    font-size: x-large;
    background-color: hsla(23, 43%, 82%, 1);
    border-radius: 50% 50%;
    height: 8rem;
    width: 8rem;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: .5rem;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: black;
}

.tab {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2rem;
}

.tab NavLink {
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: large;
    width: 16rem;
    border: 1px black solid;
    background-color: hsla(34, 45%, 90%, 1);
}